/* registeration-style.css */
@font-face { font-family: 'SUIT-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2'); font-weight: normal; font-style: normal; } 

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'SUIT-Regular'; } 
a { text-decoration: none; color:#000 } 
ul { list-style-type: none; } 
:root { --main-color:#12B560; --black:#000; --white:#fff; --gray:#919191; --border-line:#A8A8A8; --btn-border:#707070 } 
input:focus { outline: none; border:none; } 
 
.registeration { margin: 0 auto; width: 1520px; }
.registeration .container { display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 50px;} 
.registeration .container h1 { font-size: 45px; font-weight: 700; color: var(--main-color); line-height: 60px; } 
.register_form { width:695px; height:100%; display: flex; flex-direction:column; margin: 98px 0 60px 0; } 
.register_form form { width: 100%; height: 100%; } 
 
.register_form .form_title { width:220px; height:59px; line-height:33px; font-size: 25px; font-weight: 600; color: #000400; display: flex; align-items: center; } 
.register_form form input::placeholder { font-size: 19px; line-height: 26px; } 
.register_form form input { padding: 0 16px; } 
.form_name, .form_e-mail, .form_pswd, .form_pswd_re { margin-bottom: 20px; } 
.register_form .register_btn { background-color: var(--main-color); color:var(--white); cursor: pointer; border:1px solid var(--btn-border); border-radius: 3px; font-size: 18px; font-weight: 600; } 

.register_form .form_name { display: flex; align-items: center; justify-content: space-between; } 
.register_form .form_name label { font-size: 25px; font-weight: 600; } 
.register_form .form_name #name { width: 474px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 

.register_form .form_e-mail { display: flex; align-items: center; } 
.register_form .form_e-mail label { font-size: 25px; font-weight: 600; } 
.register_form .form_e-mail #e-mail { width: 348px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 
.register_form .form_e-mail #e-mail_submit_btn { width: 111px; height: 59px; margin-left: 15px; } 

.register_form .form_pswd { display: flex; align-items: center; justify-content: space-between; } 
.register_form .form_pswd label { font-size: 25px; font-weight: 600; } 
.register_form .form_pswd #pswd { width: 474px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 
.register_form .form_pswd_re { display: flex; align-items: center; justify-content: space-between; } 
.register_form .form_pswd_re label { font-size: 25px; font-weight: 600; } 
.register_form .form_pswd_re #pswd_re { width: 474px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 


.form_number_box { display: flex; width: 696px; } 
.form_number_box .form_title.phone { width: 220px; } 

.register_form .form_number { width: 474px; display: flex; flex-direction: column; } 
.register_form .form_number input { margin-bottom: 20px; } 
.register_form .number_receive { display: flex; } 
.register_form .form_number #number { width: 295px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 
.register_form .form_number #number_receive_btn { width: 164px; height: 59px; cursor: pointer; margin-left: 15px; } 


.register_form .number_confirm { display: none; } 
.register_form .number_confirm #number2 { width: 295px; height: 59px; border:1px solid var(--border-line); border-radius: 3px; } 
.register_form .number_confirm #number_confirm_btn { width: 164px; height: 59px; cursor: pointer; margin-left: 15px; } 
.register_form .form_number .form_number_text { font-size: 16px solid; font-weight: 600; opacity: 0.5; } 




.consent { width:695px; height:100%; border-top: 1px solid #0000004d; border-bottom: 1px solid #0000004d; display: flex; padding: 54px 0 57px 0; } 
.consent .consent_title { width: 220px; } 
.consent .consent_title h2 { line-height: 33px; font-size: 25px; font-weight: 600; color: #000300; } 
.consent .cosent_box { } 
.consent .consent_box ul { } 
.consent .consent_box ul li { margin-bottom: 17px; display: flex; align-items: center; } 
.consent .consent_box ul li:last-child { margin-bottom: 0; } 
.consent .consent_box ul li input { margin-right: 28px; } 
.consent .consent_box ul li label { font-size: 19px; font-weight: 600; } 
.consent .consent_box ul li label span { margin-right: 12px; } 
.consent .consent_box ul li input[type="checkbox"] { width: 22px; height: 22px; border:1px solid #000; } 
/* .consent .consent_box ul li input[type="checkbox"]:checked { background-color: #000; } */

.complete { margin-top: 35.5px;} 
.complete #complete_btn{width: 414px; height: 59px; background-color: var(--main-color); color:#fff;border: 1px solid var(--border-line); font-size: 25px; font-weight: 600; cursor: pointer;}

.pop_up{display:none}
.pop_up{width: 400px; height: 200px; background: #fff; border-top: 10px solid var(--main-color);}
.pop_up .pop_up_contents{height: 100%;position: relative;;display:flex; align-items: center; justify-content: center;}
.pop_up .pop_up_contents h3{font-size: 25px;}
.pop_up .pop_up_contents i::before{width: 22px;height: 22px; position: absolute; top:20px;right:10px;}